<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Subscribe</title>
  </head>
  <body>
    <h1>Welcome to the Subscribe page!</h1>
    <p>You are on route "/subscribe"</p>
    <br />
    <br />
    <h2>Possible Routes</h2>
    <a href="/home">Home page</a>
    &bull;
    <a href="/contact">Contact Page</a>
    &bull;
    <a href="/products">Products Page</a>
    &bull;
    <a href="/subscribe">Subscribe Page</a>
    &bull;
    <a href="/about">About Page</a>
  </body>
</html>
